<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689103212710-dt9knuqtsdl75li6sbakvcjn2ha040s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689103212710-dt9knuqtsdl75li6sbakvcjn2ha040s3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>689103212710-6h1pqpshs3595ofufooff4rn7jsrc2bl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQQGWOrNNC7Yxoua058JLGGI4TMRxc-5U</string>
	<key>GCM_SENDER_ID</key>
	<string>689103212710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayhew3.taskmaster</string>
	<key>PROJECT_ID</key>
	<string>m3-taskmaster-3000</string>
	<key>STORAGE_BUCKET</key>
	<string>m3-taskmaster-3000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689103212710:ios:94b4812f1f81b128</string>
	<key>DATABASE_URL</key>
	<string>https://m3-taskmaster-3000.firebaseio.com</string>
</dict>
</plist>